@using Workshop.Blazor.Frontend.Client.Shared.DataGrid.Models
<div class="float-end" title="Sortieren nach @Name">
    @if (IsSortable)
    {
        <button type="button" class="btn btn-sm" @onclick="SortUp">
            <i class="oi oi-arrow-top"></i>
        </button>
        <button type="button" class="btn btn-sm" @onclick="SortDown">
            <i class="oi oi-arrow-bottom"></i>
        </button>
    }
</div>

@code {

    [Parameter]
    public bool IsSortable { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback<SortOrder> Sort { get; set; }

    public async Task SortUp()
    {
        await Sort.InvokeAsync(SortOrder.Ascending);
    }

    public async Task SortDown()
    {
        await Sort.InvokeAsync(SortOrder.Descending);
    }

}