@page "/editevent"

<EditForm Model=@EventModel OnSubmit="SaveData">

    <DataAnnotationsValidator />

    <ValidationSummary></ValidationSummary>

    <BtInputText Id="Begin" Label=@GetLabel("Begin") Type="text" Placeholder="" Description=""></BtInputText>
    <BtInputText Id="End" Label="" Type="text" Placeholder="" Description=""></BtInputText>
    <BtInputText @bind-Value="@EventModel.Name" Id="End" Label="" Type="text" Placeholder="" Description=""></BtInputText>
    <BtInputText Id="End" Label="" Type="text" Placeholder="" Description=""></BtInputText>
    <BtInputText Id="End" Label="" Type="text" Placeholder="" Description=""></BtInputText>

    <button class="btn btn-lg btn-primary" type="submit">Speichern</button>
</EditForm>


