@page "/"
@page "/t/{T:int}/Index"

@using Workshop.Blazor.Frontend.Client.Shared.DataGrid
@using Workshop.Blazor.Frontend.Client.ViewModels

@inject NavigationManager NavMan

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. Uri = @NavMan.Uri / Tenant = @T
                        
<button @onclick="() => SetTenant(1)">T1</button>
<button @onclick="() => SetTenant(2)">T2</button>
<button @onclick="() => SetTenant(3)">T3</button>


